.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: black;
}

#sidebar.active {
    margin-left: -250px;
}

body {
    font-family: "Lato", sans-serif;
    

}

.gradient{
background-image: radial-gradient(
    ellipse at bottom right, 
   #ffffff,
    #cfffe5,
    #cfffe5
    
);

}

/* The sidebar menu */

/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-image: url(../images/backgrounds/checkered-light-emboss\ \(1\).png) radial-gradient(
        ellipse at right,
        black, #333333
    )
}

/* Add a gray background color and some padding to the footer */
i{
    position: relative;
    margin: 25px;
}

footer {
    position: fixed;
    background-color: #f2f2f2;
    padding: 25px;
    left: 0%;
    bottom: 0%;
    width: 100%;
}

.jumbotron {
    /* background: url("https://www.toptal.com/designers/subtlepatterns/patterns/prism.png"); */
    background-image: url(../images/fabian-grohs-648126-unsplash.jpg);
    background-size: cover;
    background-position-y: -295px;
    color: #f2f2f2 !important;
    margin: 2px !important;
    box-shadow: inset 0 0 0 1000px rgba(94, 94, 94, 0.521);
    margin-top: -5px;

}

.h1 {
    color: #f2f2f2 !important;
}

i {
    color: #f2f2f2 !important;
}

/* #github-link{
    transform: unset !important;
    color: #333 !important;
}
#github-link::before {
    transform: unset !important;
    color: #333 !important;
} */

.fa-github-square:before {
    content: "\f092";
    /* transform: unset !important; */
    color: #333 !important;
}

.fa-github-square:hover {}

#name-card{
    color: #ffffff
}

@media only screen and (max-width: 455px){
    #name-card{
        color: #333
    }
    .jumbotron{
        background-position: 0%;
    }
}