.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: black;
}

#sidebar.active {
    margin-left: -250px;
}

body {
    font-family: "Lato", sans-serif;
    
}

/* The sidebar menu */

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    /* margin-bottom: 0; */
    border-radius: 0;
  }
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  

.jumbotron {
    
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/prism.png");
    color: #f2f2f2 !important;
    margin: 2px !important;

}

.h1 {
    color: #f2f2f2 !important;
}

i {
color: #f2f2f2 !important;
}

/* #github-link{
    transform: unset !important;
    color: #333 !important;
}
#github-link::before {
    transform: unset !important;
    color: #333 !important;
} */

.fa-github-square:before {
    content: "\f092";
    transform: unset !important;
color: #333 !important;
}