.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: black;
}

#sidebar.active {
    margin-left: -250px;
}

.card{
    max-width: 100%;
}

.card{
    transition: transform 1s;
    max-width: 100%;
    
}
.container #portfolio .card:hover{
    transform: scale(1.1);
    overflow: hidden; 
    z-index: 99;
    
}

.navbar li{
    transition: transform .25s;
}

.navbar li:hover{
    transform: scale(1.4)
    
}



body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Quicksand', sans-serif;
    min-height: 1955px;

}

.gradient{
background-image: radial-gradient(
    ellipse at bottom right, 
   #ffffff,
    #2b99ac98
    
);


}
fa-github-square:before {
    content: "\f092";
    /* transform: unset !important; */
    color: #ffffff !important;
}


/* The sidebar menu */

/* Remove the navbar's default margin-bottom and rounded borders */

/* .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-image: url(../images/backgrounds/checkered-light-emboss\ \(1\).png) radial-gradient(
        
        gray, #333333, white
    )
} */

/* Add a gray background color and some padding to the footer */
i{
    position: relative;
    margin: 25px;
    color: #333;
}
.navbar-collapse.collapse.in {
    display: block!important;
  }
footer {
    position: fixed;
    background-color: #f2f2f2;
    padding: 25px;
    left: 0%;
    bottom: 0%;
    width: 100%;
}

.jumbotron {
    /* background: url("https://www.toptal.com/designers/subtlepatterns/patterns/prism.png"); */
    background-image: url(../images/fabian-grohs-648126-unsplash.jpg);
    background-size: cover;
    background-position-y: -295px;
    color: #f2f2f2 !important;
    margin: 2px !important;
    box-shadow: inset 0 0 0 1000px rgba(39, 39, 39, 0.808);
    margin-top: -5px;
    height: 725px;
    padding: 15px;
}

.h1 {
    color: #f2f2f2 !important;
}

i {
    color: #f2f2f2 !important;
}

/* #github-link{
    transform: unset !important;
    color: #333 !important;
}
#github-link::before {
    transform: unset !important;
    color: #333 !important;
} */

.fa-github-square:before {
    content: "\f092";
    /* transform: unset !important; */
    color: #333 !important;
}

.fa-github-square:hover {
    transition: transform 1s;
    transform: scale(1.2);
}

#name-card{
    color: #ffffff;
    position: relative;
    /* left: -165px; */
    
}

#email-btn{
    float: left;
}

@media only screen and (max-width: 455px){
    body{
       min-height:  3655px;
    }
    #name-card{
        /* color: #333 */
    }
    .jumbotron{
        background-position: 0%;
        height: 100%;
    }
}


